body {
    background: black;
    color: lime;
    font-family: monospace;
    text-align: center;
}

button {
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background: red;
    color: white;
    border: none;
}

button:hover {
    background: orange;
}
